# Auto detect text files and perform LF normalization
/.idea/
/__pycache__/
/logs/*
CLI-TOOLS/seo/*
/venv/*
credentials.json
token.pickle
geckodriver.log
REPORTS/*
!REPORTS/DRUPAL/
CLI-TOOLS/chromedriver.exe
CLI-TOOLS/geckodriver.exe
CLI-TOOLS/pdfimages.exe