<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>PERCEPTION Accessibility Review</title>
    <link rel="stylesheet" href="static/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<style type="">
    label {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    }
    input {
        width: 16px;
        height: 16px;
        padding: 0;
        margin:0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }
    div {
      float:left;
      width:100%;
      overflow:hidden;
    }
    .div-blu {
      background-color:#dddddd;
      border: 3px solid blue;
      padding: 10px;
    }
    .div-org {
      background-color:#dddddd;
      border: 3px solid orange;
      padding: 10px;
    }
    .div-blk {
      background-color:#dddddd;
      border: 3px solid black;
      padding: 10px;
    }
    .div-grn {
      background-color:#dddddd;
      border: 3px solid green;
      padding: 10px;
    }
    .div-red {
      background-color:#dddddd;
      border: 3px solid red;
      padding: 10px;
     }
    .header {
      padding:5px 0px;
    }

</style>

<body>
<div class="container">
    <h1>PERCEPTION Accessibility Review</h1>
    <form action="" method="post" role="form" enctype="multipart/form-data">
        {{ form.csrf }}
        <div class="form-group">
            <div class="header">
                Please specify the following information:<br><br>
            </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for message in messages %}
                {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                    <strong>Success! </strong> {{ message[1] }}
                </div>
                {% endif %}
                {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                    <strong>{{ message[1] }}</strong>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
            <div class="div-blk">
                <div>
                    <label for="report_name">Report Name:</label>
                    <input type="text" class="form-control" id="report_name" name="report_name"
                           placeholder="Friendly client name. Used to name all reports.">
                </div>
                <div>
                    <label for="email">Email:</label>
                    This email will be used to contact you as each report is ready
                    (one email per report). Report times can vary based on the size
                    or the requested site.
                    <input type="text" class="form-control" id="email" name="email"
                           placeholder="This email will be used to update you.">
                </div>
                {% if spider %}
                <div>
                    <label for="url">URL:</label>
                    Copy and paste URL here. Be sure to provide the exact URL as it appears in the browser.
                    If the URL cannot resolve, all scans will fail.
                    <input type="text" class="form-control" id="url" name="url"
                           placeholder="Enter scan URL as it appears in the browser.">
                    <hr>
                </div>
                {% endif %}
            </div>
            <div class="header">
                <h2>Spider SEO Reports</h2>
                These spider crawls are run using Screaming Frog SEO Spider. Crawls can run internally and externally.
            </div>
            <div class="div-grn">
                {% if spider %}
                <div>
                    This spider will scrape all internal or external links for a given URL. This is not an accessibility
                    audit but an asset audit.
                </div>
                <div>
                    <label for="SEOInternal">
                        <input type="checkbox" id="SEOInternal" name="SEOInternal" value="TRUE">
                        Internal URL spider crawl</label> - To learn more about the number of assets a client owns, use
                    the "Internal" scan.
                </div>
                <div>
                    <label for="SEOExternal">
                        <input type="checkbox" id="SEOExternal" name="SEOExternal" value="TRUE">
                        External URL spider crawl</label> - To learn more about the number of assets a client owns and
                    links to by reference, use the "External" scan.
                </div>
                {% endif %}
                <div>
                    <label for="UploadCSV">
                        Upload CSV file (<a href="static/example_urls.zip">sample CSV - right-click and "Save as"</a>): </label>
                    <input type="file" id="UploadCSV" name="UploadCSV" value="TRUE" style="width: 500px;height: 30px;">
                </div>
                <!-- div>
                    To scan for PDFs only, use the "Crawl for PDFs only" selection.
                    <label for="SEO">
                        <input disabled type="checkbox" id="SEO" name="SEO" value="on-pdf">
                        Crawl for PDFs only</label>
                </div-->
            </div>
            <div class="header">
                <h2>PDF Reports</h2>
                To audit the list(s) of PDFs, select the "Run detailed PDFAudit on PDFs discovered"
                selection. As the number of PDFs is probably unknown, you may wish to read and assess
                the report before making the request.
            </div>
            <div class="div-red">
                <label for="PDFAudit">
                    <input type="checkbox" id="PDFAudit" name="PDFAudit" value="TRUE">
                    Run detailed PDFAudit on PDFs discovered</label>
            </div>
            <div class="header">
                <h2>Lighthouse by Google</h2>
                Lighthouse by Google for Chrome.
            </div>
            <div class="div-org">
                <label for="lighthouse-mobile">
                    <input type="checkbox" id="lighthouse-mobile" name="lighthouse-mobile" value="TRUE">
                    Run Lighthouse report for mobile</label>
                <label for="lighthouse-mobile">
                    <input type="checkbox" id="lighthouse-desktop" name="lighthouse-desktop" value="TRUE">
                    Run Lighthouse report for desktop</label>
            </div>
            <div class="header">
                <h2>AXE by Deque</h2>
                AXE by Deque...
            </div>
            <div class="div-blu">
                <label for="AXEChrome">
                    <input type="checkbox" id="AXEChrome" name="AXEChrome" value="TRUE">
                    Run AXE report Chrome</label>
                <label for="AXEFirefox">
                    <input type="checkbox" id="AXEFirefox" name="AXEFirefox" value="TRUE">
                    Run AXE report Firefox</label>
                <!--label for="AXEEdge">
                    <input type="checkbox" id="AXEEdge" name="AXEEdge" value="TRUE">
                    Run AXE report Edge</label-->
            </div>
        </div>
        <div class="header">
            <h2>Submit request</h2>
        </div>
        <div class="div-def">
            <button type=reset class="btn btn-danger" style="width:100%; height:40px">
                Reset entire form
            </button>
            <hr>
            <button type="submit" class="btn btn-success"
                    style="width: 100%;height: 40px;">Submit Request(s)
            </button>
        </div>
    </form>
    <br>
</div>
</body>
</html>